{% extends 'base.html.twig' %}

{% block title %}MeasurementData index{% endblock %}

{% block body %}
    <h1>MeasurementData index</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Wind_speed</th>
                    <th>Humidity</th>
                    <th>Pressure</th>
                    <th>Temperature</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for measurement_datum in measurement_datas %}
                <tr>
                    <td>{{ measurement_datum.id }}</td>
                    <td>{{ measurement_datum.date ? measurement_datum.date|date('Y-m-d') : '' }}</td>
                    <td>{{ measurement_datum.windSpeed }}</td>
                    <td>{{ measurement_datum.humidity }}</td>
                    <td>{{ measurement_datum.pressure }}</td>
                    <td>{{ measurement_datum.temperature }}</td>
                    {% if is_granted('ROLE_MEASUREMENTDATA_EDIT') and is_granted('ROLE_MEASUREMENTDATA_SHOW') %}
                        <td>
                            <a href="{{ path('app_measurement_data_show', {'id': measurement_datum.id}) }}" class="btn btn-info btn-sm">Show</a>
                            <a href="{{ path('app_measurement_data_edit', {'id': measurement_datum.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_granted('ROLE_MEASUREMENTDATA_NEW') %}
        <a href="{{ path('app_measurement_data_new') }}" class="btn btn-success">Create new</a>
    {% endif %}
{% endblock %}
